@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-wiggle: wiggle 1s ease-in-out zzinfinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(1deg);
    }
  }
  --animate-scale: scale 1s ease-in-out;

  @keyframes scale {
    0% {
      transform: scale(50%);
      opacity: 0%;
    }
    75% {
      transform: scale(100%);
      opacity: 100%;
    }
  }
}
